@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root{
  --pColor:linear-gradient(90deg, rgba(7,59,2,1) 0%, rgba(31,110,8,1) 100%);
  --sColor:linear-gradient(90deg, rgba(31,110,8,1)0%,rgba(7,59,2,1) 100%);
  --white:#fff;
  --width:270px;
  --height:50px;
}

/* ::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background: var(--pColor);
  width: 10px;
  border-radius: 7px;
} */

body{
  font-family: 'Poppins', sans-serif !important;
  margin:0px;
  padding:0px
}

.page{
  min-height: 100vh;
}


h1{
  font-size: 60px;
}
h1,h3,.specialText {
 
  background: var(--pColor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bshadow{
  box-shadow:  1rem 3rem rgba(lightgreen, .175)
}

.buttonGeneral{
  background:var(--pColor);
  color:var(--white) !important;
  width:var(--width);
  height: var(--height);
  font-size: large;
}

.buttonGeneral:hover{
  transition: ease ;
  color: var(--white) !important;
  background:var(--sColor);
}

.formGeneral{
  height: var(--height);

}

.formGeneral:hover{
  border: none;
  box-shadow: 0px 0px 5px lightgreen;
}

.formGeneral:active{
  border: none;
  box-shadow: 0px 0px 5px lightgreen;
}

.Bg{
  background: var(--pColor);
}

ion-icon{
  font-size: 26px;
}

.marq{
  width: 350px;
}

li{
  list-style: none;
}

.pointer{
  cursor: pointer;
}

.dropdown-toggle::after {
  display: none !important; 
}


