@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root{
  --pColor:linear-gradient(90deg, rgba(7,59,2,1) 0%, rgba(31,110,8,1) 100%);
  --sColor:linear-gradient(90deg, rgba(31,110,8,1)0%,rgba(7,59,2,1) 100%);
  --white:#fff;
  --width:270px;
  --height:50px;
}


::-webkit-scrollbar{
  width: 10px;
  height: 10px;
  
}

::-webkit-scrollbar-thumb{
  background: rgba(168, 168, 168, 0.685);
  width: 10px;
  border-radius: 10px;
}

body{
  font-family: 'Poppins', sans-serif !important;
  margin:0px;
  padding:0px
}

.page{
  min-height: 100vh;
}


h1{
  font-size: 60px;
}
h1,.specialText {
 
  background: var(--pColor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* 
.bshadow{
  box-shadow:  1rem 3rem rgba(lightgreen, .175)
} */

.buttonGeneral{
  background:var(--pColor);
  color:var(--white) !important;
  width:var(--width);
  height: var(--height);
  font-size: large;
}

.buttonGeneral:hover{
  transition: ease ;
  color: var(--white) !important;
  background:var(--sColor);
}

.formGeneral{
  height: var(--height);

}

.formGeneral:hover{
  border: none;
  box-shadow: 0px 0px 5px lightgreen;
}

.formGeneral:active{
  border: none;
  box-shadow: 0px 0px 5px lightgreen;
}

.Bg{
  background: var(--pColor);
  color:white !important;
}

ion-icon{
  font-size: 26px;
}

.marq{
  width: 350px;
}

li{
  list-style: none;
}

.pointer{
  cursor: pointer;
}

.dropdown-toggle::after {
  display: none !important; 
}

.outlineHover:hover{
  background:var(--pColor);
}

.imgWhite{
  filter:invert(1);
}

.imgGreen{
  filter:invert(71%) sepia(50%) saturate(516%) hue-rotate(84deg) brightness(88%) contrast(93%);
}

.btnMenu>button{
  background: none;
  border:none;
}

img[src=""] {
  display: none;
}

.scrollHorizontal{
  max-height: 50vh;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  
}

.fitImages{
  object-fit: cover;
}


.btnHover:hover{
  transition: ease;
  background:var(--pColor) !important;
  color: #fff !important;
  border: none;
}


.navbarMain{
  background: #fff !important;
  height: fit-content !important;
  color: green !important;
}

.tshadow{
  text-shadow: 0px 0px 30px green;
}